body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    width: 25rem;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
}

p {
    font-size: 0.875rem;
    color: #666;
}

.calculator, .explanation {
    margin-top: 1.25rem;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="number"] {
    width: calc(100% - 1.25rem);
    padding: 0.5rem;
    margin-bottom: 0.625rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.25rem;
    text-align: left;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

button {
    color: white;
    padding: 0.625rem 0.9375rem;
    border: none;
    border-radius: 0.30rem;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.button-konversi{
    background-color: #615EFC;
}

.button-reset{
    background-color: #ff7247;
}

.button-reverse{
    background-color: #C80036;
}

.button-konversi:hover {
    background-color: #4e4cc9;
}

.button-reset:hover {
    background-color: #bd5535;
}

.button-reverse:hover {
    background-color: #8b0025;
}

.calculation {
    margin-top: 1.25rem;
}

.calculation h3 {
    margin-bottom: 0.625rem;
}

.calculation p {
    background: #f0f0f0;
    padding: 0.625rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    color: black;
    font-weight: 600;
}
